.sidebar-item {
  background: #f5f5f5; }
  .sidebar-item span i.icon {
    margin-right: 20px;
    color: #888888; }

.sidebar-item.highlight-item span {
  font-weight: 600; }

.sidebar-item.highlight-item i.icon {
  color: #ff0002; }

.sidebar-item-alignment-container {
  display: flex;
  align-items: center; }
