@import '../../styles/shared.scss';

.trending {
  display: grid;
  grid: auto / auto;
  padding-left: 10rem;
  padding-top: 24px;
  margin-left: $sidebar-left-width;
  grid-row-gap: 10px;
  max-width: 900px;
}

@media(max-width: 1200px) {
  .trending {
    padding-left: 10px;
  }
}

/* @media(min-width: 662px) {
  .trending {
    max-width: 862px;
  }
}

@media(min-width: 876px) {
  .trending {
    width: 876px;
  }
}

@media(min-width: 1090px) {
  .trending {
    width: 1070px;
  }
}

@media(min-width: 1604px) {
  .trending {
    width: 1284px;
  }
} */