@import 'styles/shared.scss';

.video-preview {
  display: flex;

  flex-direction: column;
  margin-bottom: 24px;
  width: 210px;

  img {
    width: 210px;
    height: 118px;
  }
}

.video-info {
  color: $text-color-dark;

  .video-preview-metadata-container {
    padding-top: 5px;
    font-size: 13px;
    color: #6E6E6E;

    .channel-title {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  .show-max-two-lines {
    overflow: hidden;
    line-height: 1.4em;
    max-height: 2.8em;
  }

  .semi-bold {
    font-weight: 600;
  }
}

.image-container {
  position: relative;

  /* Video duration label at bottom right */
  .time-label {
    position: absolute;
    background: $text-color-dark;
    bottom: 0;
    right: 0;
    opacity: 0.8;
    border-radius: 2px;
    font-weight: 500;
    color: white;
    margin: 4px;
    padding: 2px 4px;
    line-height: 12px;
  }
}